<h2 class="banner">Stupid Coach</h2>
<%# <p><%= @question </p> %>
<%# <p><em>-You</em></p> %>
<%# <br> %>
<%# <p><%= @answer</p> %>
<%# <p><em>-Coach</em></p> %>
<%# <br> %>
<%# <button><%= link_to "Ask a new question", "/ask" </button> %>

<div class="container">
  <p><%= @question %></p>
  <p><em class="author">-You</em>
  <span class="time-right"><%= Time.now %></span></p>
</div>
<div class="container darker">
  <p><%= @answer %></p>
  <p><em class="author">-Coach</em>
  <span class="time-right"><%= Time.now %></span></p>
</div>
<div>
  <button type="button" class="btn btn-link"><%= link_to "Ask a new question", "/ask" %></button>
</div>
